  <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Cricket Live!</div>
                <div class="intro-heading">Get fast and latest cricket updates</div>
                <a href="#services" class="page-scroll btn btn-xl">Explore</a>
            </div>
        </div>
    </header>